name: ci

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]
    tags: ["*"]

permissions:
  contents: read

jobs:
  go-fmt-and-vet:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 'stable'
          cache: true
      - name: go fmt
        run: |
          files=$(go fmt ./...)
          if [ -n "$files" ]; then
            echo "The following file(s) do not conform to go fmt:"
            echo "$files"
            exit 1
          fi
      - name: go vet
        run: |
          PACKAGE_NAMES=$(go list ./... | grep -v github.com/hashicorp/raft/fuzzy)
          go vet $PACKAGE_NAMES
      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0

  go-test:
    needs: go-fmt-and-vet
    strategy:
      matrix:
        go: ['stable', 'oldstable']
        arch: ['x32', 'x64']
    runs-on: ubuntu-22.04
    env:
      INTEG_TESTS: yes
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go }}
          architecture: ${{ matrix.arch }}
          cache: true
      # x86 specific build.
      - if: matrix.arch == 'x32'
        run: |
          sudo apt-get update
          sudo apt-get install gcc-multilib
          go test --tags batchtest ./...
      # x86-64 specific build.
      - if: matrix.arch == 'x64'
        run: go test -race --tags batchtest ./...
  go-test-compat:
    needs: go-test
    strategy:
      matrix:
        go: ['1.20', '1.21', '1.22']
        arch: ['x32', 'x64']
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go }}
          architecture: ${{ matrix.arch }}
          cache: true
          submodules: true
      # x86 specific build.
      - if: matrix.arch == 'x32'
        run: |
          sudo apt-get update
          sudo apt-get install gcc-multilib
          git submodule update --init --recursive
          cd raft-compat
          go mod tidy
          go test -v -coverpkg=./... ./... -coverprofile="${{ github.workspace }}/coverage.out"
      # x86-64 specific build.
      - if: matrix.arch == 'x64'
        run: |
          git submodule update --init --recursive
          cd raft-compat
          go mod tidy
          go test -race -v -coverpkg=./... ./... -coverprofile="${{ github.workspace }}/coverage.out"
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          path: "${{ github.workspace }}/coverage.out"
          name: coverage-report-${{matrix.go}}-${{matrix.arch}}
